src/main/mule/implementations/report-case-to-who.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="post:\case:application\json:who-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="5140dcff-ec79-4e79-9f6f-04668e3e3983" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="227c34b6-732a-44f7-830e-ed9d933b1507" message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: &quot;Started report covid case to who flow&quot;, payload: #[payload]'"/>
		<ee:transform doc:name="Prepare WHO Case Payload" doc:id="f7c329a7-1e12-49b7-82b7-376b2e44b361" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	COVID_CASE: {
		FIRST_NAME: payload.firstName,
		LAST_NAME: payload.lastName,
		PHONE: payload.phone,
		EMAIL: payload.email,
		DATE_OF_BIRTH: payload.dateOfBirth,
		COUNTRY: payload.country
	}
}	
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dynamicProperties" ><![CDATA[%dw 2.0
output application/java
---
{
	CASE_TYPE: payload.caseType
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="71526d4c-4162-4d6a-8a97-2c15c66b8ba9" name="publish-covid-case-to-who"/>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 200,
  message: "Success",
  description: "Case reported successfully",
  dateTime: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
  transactionId: vars.transactionId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="a8a4604c-0c13-4452-b3a4-4a02eea6a1d2" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started report covid case to who flow", payload: #[payload]'/>
	
</flow>

</mule>
